.panel {
    @include type-space(padding, .5);
    background-color: rgba(#fff, .8);

    &:after {
        content: " ";
        display: block;
        border-bottom: 1px solid color(type, light);
        width: 25%;
        @include type-space(height, .5);
        @include type-space(max-width, 5);
        transition: width 100ms cubic-bezier(0.2, -0.26, 0.22, 1.1);
        margin-bottom: 2px;
    }
}

.panel--link {
    display: inline-block;
    outline: none;
    transition: box-shadow .1s ease-out;

    &:after {
        border-color: color(links);
    }

    &:hover,
    &:focus {
        color: color(links);
        background-color: #fff;
        box-shadow: 0 9px 18px rgba(color(links, darkest), .1),
            0 1px 3px 1px rgba(color(links, darker), .1),
            0 11px 5px -8px rgba(color(links, darkest), .08);

        &:after {
            width: 33.33%;
        }

        .panel__body {
            color: color(links);
        }
    }
}

.panel__body {
    font-weight: 400;
    font-family: $primary-font-stack;
    color: color(type);
}

.panel__foot {
    color: color(links);
}

.panel--header {
    display: block;
    background-color: transparent;
}
