.search {
    position: relative;
    @include type-space(margin-top, -1.5);
}

.search__input {
    box-shadow: 0 0 28px rgba(color(links, darkest), .035);
    outline: none;
    transition: box-shadow .2s ease-out;

    &:focus {
        box-shadow: 0 5px 28px 1px rgba(color(links, darkest), .1),
            0 1px 3px 1px rgba(color(links, darker), .05),
            0 2px 5px -1px rgba(color(type), .08);
    }
}

.search__button {
    position: absolute;
    @include type-space((top, right), .75);
    @include type-space((width, height), 1.5);
    @include type-space(padding, .5)
    background: #fff url('../img/icon_search.svg') center no-repeat;
}

.search__item {
    opacity: 1;
    transition: all .2s ease-out;
    transform-origin: bottom;
}

.search__item:not([data-jets="osteoporosis"]) {
    opacity: .5;
    pointer-events: none;
    cursor: default;
}
