.tabs {
    display: flex;
    justify-content: center;
    vertical-align: top;
    @include type-space(padding-bottom, 2);
    @include font-size($type-small-size, true);
}

.tab-section {
    display: none;
}

.tabs__radio {
    display: none;

    &:checked:nth-of-type(1) ~ .tab-container .tab-section:nth-of-type(1),
    &:checked:nth-of-type(2) ~ .tab-container .tab-section:nth-of-type(2) {
        display: block;
    }

    &:checked:nth-of-type(2) ~ .tab-container .tabs__label:nth-of-type(2),
    &:checked:nth-of-type(1) ~ .tab-container .tabs__label:nth-of-type(1) {
        border-color: color(links);
        background-color: color(links);
        color: #fff;
    }
}

.tabs__label {
    display: flex;
    flex-wrap: wrap;
    flex: .25 1 rems(275px);
	justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid;
    @include type-space(padding, .5 .75 .5 .75);
    max-width: rems(320px);
    color: color(links);

    &:hover {
        color: color(links, light);
        background-color: rgba(white, .5);
    }

}

.tabs__icon {
    display: inline-block;
    @include type-space(padding-right, .25);

    svg {
        vertical-align: top;
    }
}
