//Base table styles
table {
    @extend %type_vertical_rhythm;
    @include type-space(margin-bottom, 2);
    @include type-space(margin-top, -.375);
    border-spacing: rems($grid-gutter/2) rems(($grid-gutter/2) - 1px);
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
}

th,
td {
    border: 0 solid color(type, light);
    border-top-width: 1px;
    @include type-space(padding, .25 .25 .75 .25);
    vertical-align: top;
	text-align: left;
}

th {
	font-weight: normal;
}

thead th {
	vertical-align: bottom;
    border-width: 0;
	@include type-space(padding, .25)
    color: color(links);
    background-color: rgba(#fff, .5);
}
