//Base table styles
table {
    @extend %type_vertical_rhythm;
    @include type-space(margin-bottom, 1);
    @include type-space(margin-left, -.5); //adjust for border spacing
    @include type-space(margin-top, -.375);
    border-spacing: rems($grid-gutter/2) rems(($grid-gutter/2) - 1px);
    width: 100%;
    background-color: transparent;
}

th,
td {
    border: 0 solid color(type, light);
    @include type-space(padding, .25 0 .75);
    vertical-align: top;
	text-align: left;
}

td,
th {
    border-top-width: 1px;
}

th {
	font-weight: normal;
}

thead th {
	vertical-align: bottom;
	padding: 0;
    color: color(links);
    border-width: 0;
}
