.bg-light {
    background-color: rgba(#fff, .56);
}

.bg-dark {
    background-color: color(bg, dark);
}

.txt-label {
    color: color(type, light);
}

.txt-light {
    color: color(type, lighter);
}
